.subtitle {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  font-size: 0.75em;
  margin-top: -20px;
  width: 100%;

  background: linear-gradient(to right, #9f60e1, #5f3a9b);
  border-radius: 15px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  color: white;
}

.github-button {
  width: 30px;  /* adjust as needed */
  height: 30px;  /* adjust as needed */
  padding-bottom: 5px;
}

h1 {
	background: linear-gradient(to right, #ca35db 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 2em;
    margin-top: -10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

body {
    background: url('./assets/images/background2.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    height: 100%;

    align-items: center;
    
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Prevents scrollbars */
  }


  
  .box {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5); /* White background with 50% transparency */
 
    opacity: 0.6;
    color: white;
    border-radius: 10px; /* Rounded corners */
    transition: background 3s ease-in-out; /* Smooth transition */
  }

  .box-content {
    color: #fff;
    font-size: 20px;
    opacity: 1;
  }

  .box:nth-child(1) {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
  }

  .box:nth-child(1):hover {
    background: linear-gradient(to right, #feb47b, #ff7e5f);
  }

  .box:nth-child(2) {
    background: linear-gradient(to right, #6a3093, #a044ff);
  }

  .box:nth-child(2):hover {
    background: linear-gradient(to right, #a044ff, #6a3093);
  }

  .box:nth-child(3) {
    background: linear-gradient(to right, #3494e6, #ec6ead);
  }

  .box:nth-child(3):hover {
    background: linear-gradient(to right, #ec6ead, #3494e6);
  }

  .box:nth-child(4) {
    background: linear-gradient(to right, #ee9ca7, #ffdde1);
  }

  .box:nth-child(4):hover {
    background: linear-gradient(to right, #dd4557, #73484e);
  }

  .box:nth-child(5) {
    background: linear-gradient(to right, #7f4fe7, #9772e7);
    
  }

  .box:nth-child(5):hover {
    background: linear-gradient(to right, #5eb88e, #851087);
  }

  .main-box {
    grid-row: span 2;
    grid-column: 2;
    position: relative;
    padding: 20px;
    background: linear-gradient(to right, #6a3093, #a044ff); /* Different variant */
  }

  .main-box:hover {
    background: linear-gradient(to right, #30065a, #c296e1);
  }

.grid {
  min-height: 80vh;
  min-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    height: 100%;
    padding: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }


  .chatbot {
    position: absolute; /* Positions the chatbot relative to the .main-box */
    top: 0;
    left: 0;
    min-width: 150px; /* Makes the chatbot fill the width of the .main-box */
    height: 100%; /* Makes the chatbot fill the height of the .main-box */
    opacity: 1;
    overflow: auto
  }
  
  
